body {
    background-color: aliceblue;
}

button{
    margin: 50x;
    padding: 10px;
    border: none;
    border-radius: 10%;
    background-color:  blue;
}

button:hover{
    background-color: aqua;
}

p{
    font-family: 'Times New Roman', Times, serif;
}