body {
    background-color: aliceblue;
}

button{
    border: black;
    padding: 50px;
    margin: 30px;
    color: blue;
    font-size: 18 px;
}

p{
    font-family: 'Times New Roman', Times, serif;
}